.tooltip-inner {
	-webkit-box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.4);
	border: 1px solid #AAA;
	background-color: #FFFFE0;
	color: #000;
	font-weight: bold;
}

.tooltip.top .tooltip-arrow {
	border-top-color: #666;
}

.tooltip.top-left .tooltip-arrow {
	border-top-color: #666;
}

.tooltip.top-right .tooltip-arrow {
	border-top-color: #666;
}

.tooltip.right .tooltip-arrow {
	border-right-color: #666;
}

.tooltip.left .tooltip-arrow {
	border-left-color: #666;
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #666;
}

.tooltip.bottom-left .tooltip-arrow {
	border-bottom-color: #666;
}

.tooltip.bottom-right .tooltip-arrow {
	border-bottom-color: #666;
}